body{
    background-color: aquamarine;
}

  .container {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 7px;
  }
  
.header {
    font-size: 2em;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;
 }
  
 .footer {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;
  }

h1{
    color: white;
}