*, *:before, *:after {
  box-sizing: border-box;
}
body{
    background-color: white;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 7px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.container > * { 
    background-color: royalblue;
    color: white;
    border-radius: 3px;
    padding: 16px;
  }
  
.header {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    grid-column-start: 1;
    grid-column-end: -1;
    color: rgb(32, 32, 32);
 }
  
 .footer {
    font-size: 1em;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;
    color: rgb(32, 32, 32);
    text-transform: uppercase;
  }

h1{
    color: white;
}