body{
    background-color: white;
    padding: 20px;
}

  .container {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 7px;
    text-align: center;
    background-color: rgba(0,0,128,.5);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
.header {
    font-size: 2em;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;
    color: rgb(32, 32, 32);
 }
  
 .footer {
    font-size: 1em;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;
    color: rgb(32, 32, 32);
  }

h1{
    color: white;
}